.container {
  margin: 0px;
  background-image: url("../../assets/loginregisterwallpaper.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  padding: 10px;
}

a {
  text-decoration: none;
}

.form-heading {
  color: #fff;
  font-size: 23px;
  font-family: Arial;
}

.label-Class {
  width: 80px;
}

.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}

.main-div {
  text-align: center;
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
}

.login-form .form-group {
  margin-bottom: 10px;
}

.login-form {
  display: flex;
  justify-content: center;
  font-family: Arial;
}

.row-Container {
  display: inline-flex;
  align-items: center;
}

.social-wrap {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
