<ul>
    <li><a [routerLink]="['/dashboard']">Home</a></li>
    <li *ngIf="!isLogged" class="right"><a [routerLink]="['/register']">Register</a></li>
    <li *ngIf="!isLogged" class="right"><a [routerLink]="['/login']">Login</a></li>    
    <li *ngIf="isLogged" class="right"><a [routerLink]="['/login']" (click)="logout()">Logout</a></li>
    <li *ngIf="isLogged" class="right"><a [routerLink]="['/edit']">Edit profile</a></li>
    <li *ngIf="isLogged" class="right"><a [routerLink]="['/document-add']">Document</a></li>
    <li *ngIf="isLogged" class="right"><a [routerLink]="['/bookmarks']">Bookmarks</a></li>
</ul>
<router-outlet></router-outlet>