<div class="container">
  <div class="edit-form" >
    <div class="main-div">
      <h1>Edit User</h1>
      <form #editForm="ngForm" (ngSubmit)="onSubmit(editForm)">
        <div class="form-group">
          <div class="row-container">
            <div class="label-class">
              <app-label [for]="'email'"
                [classname]="'label-edit'">
                Email
              </app-label>
            </div>
            <div>
              <app-input [type]="'text'"
                [name]="'email'"
                [required]="'required'"
                (childChanged)="onChangeEmail($event)"
                [value]="user1.email">
              </app-input>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row-container">
            <div class="label-class">
              <app-label [for]="'name'"
                [classname]="'label-edit'">
                Name
              </app-label>
            </div>
            <div>
              <app-input [type]="'text'"
                [name]="'name'"
                [required]="'required'"
                (childChanged)="onChangeName($event)"
                [value]="user1.name">
                </app-input>
            </div>
          </div>       
        </div>
        <div class="form-group">
          <div class="row-container">
            <div class="label-class">
                <app-label [for]="'surname'"
                  [classname]="'label-surname'">
                  Surname
                </app-label>
            </div>
            <div>
              <app-input [type]="'text'"
                [name]="'surname'"
                [required]="'required'"
                (childChanged)="onChangeSurname($event)"
                [value]="user1.surname">
              </app-input>
            </div>
          </div>
        </div>
        <div class="row-container">
          <div class="label-class">
            <app-label [for]="'Image'">
              Image
            </app-label>
          </div>
          <div class="button-choose">
            <input type="file" name="Image">
          </div>
        </div>
        <div class="form-group">
          <app-button (click)="changePassword()">Change Password</app-button>
        </div>
        <div class="form-group">
          <app-button [type]="'submit'" [classname]="'register-button'">Edit Profile</app-button>
        </div>
      </form>
    </div>   
  </div>
</div>