textarea {
  resize: none;
}

button {
  //display: inline-block;
  vertical-align: middle;
  height: 37px;
  width: 63px;
  margin-left: 7px;
  margin-top: -32px;
}
.textPlusSend {
  margin-top: 10px;
  align-items: center;
  width: 550px;
}

.chatMessages {
  border-style: solid;
  width: 543px;
  height: 300px;
}

.chatHeader {
  margin-top: 20px;
  margin-bottom: -20px;
  text-align: center;
  font-size: 26px;
  width: 550px;
}

.chatContainer {
  margin-left: 14px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
