textarea {
    resize: none;
  }



  button{
    //display: inline-block;
    vertical-align: middle;
      height: 35px;
      width: 63px;
      margin-left:7px;
  }
.textPlusSend{
    display: flex;
    align-items: center;
    margin-left:14px;
}
.container{
    width:40%;
    text-align:center;
}
  