ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  li a {
    display: block;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial;
    
  }
  li a:hover {
    background-color: lightgray;
  }

  div.sidebar { 
    width: 25%;
    border: 2px solid black;
    margin: 2px 0 0 0 ;
  }