<div class="grid-container">
  <div class="item2">
    <div class="sidebar">
      <ul>
        <li><a href="/login">link1 </a></li>
        <li class="right"><a href="/register">link2 </a></li>
        <li class="right"><a href="/login">link3 </a></li>
      </ul>
    </div>
  </div>
  <div class="item3">
    <div class="row">
      <div class="line">
        <div class="tab element-sm">
          Nazwa
        </div>
        <div class="tab element-sm">
          Data modyfikacji
        </div>
        <div class="tab element-xs">

        </div>
        <div class="tab element-xs">

        </div>
      </div>

      <div class="line" *ngFor="let document of documents | keyvalue">
              <div class="tab element-sm">
                  {{document.value.title}}
                </div>
                <div class="tab element-sm">
                  06/06/2006
                </div>
                <div class="tab element-xs">
                  <app-buttonlist [type]="'text'" [classname]="'btn btn--edit'">Edit</app-buttonlist>
                </div>
                <div class="tab element-xs">
                  <app-buttonlist (click)="deleteDocument(document)" [type]="'text'" [classname]="'btn btn--delete'">Delete</app-buttonlist>
                </div>   
      </div>
    </div>
  </div>
</div>