<div class="container">
  <div class="edit-form">
    <div class="main-div">
      <h1>Edit User Password</h1>
      <form #editPasswordForm="ngForm" (ngSubmit)="onSubmit(editPasswordForm)">
        <div class="form-group">
          <div class="row-container">
            <div class="label-class">
              <app-label [for]="'Password'"
                [classname]="label-editpassword">
                Password
              </app-label>
            </div>
          </div>
          <div>
            <app-input [type]="'text'"
              [name]="'Password'"
              [required]="'required'"
              (childChanged)="onChangeOldPassword($event)"
              [value]="user.password">
            </app-input>
          </div>
        </div>
        <div class="form-group">
          <div class="row-container">
            <div class="label-class">
              <app-label [for]="'newPassword'"
                [classname]="label-editpassword">
                New Password
              </app-label>
            </div>
          </div>
          <div>
            <app-input [type]="'text'"
              [name]="'newPassword'"
              [required]="'required'"
              (childChanged)="onChangeNewPassword($event)"
              [value]="user.newpassword">
            </app-input>
          </div>
        </div>
        <div class="form-group">
          <div class="row-container">
            <div class="label-class">
              <app-label [for]="'confirmPassword'"
                [classname]="label-editpassword">
                Confrim Password
              </app-label>
            </div>
          </div>
          <div>
            <app-input [type]="'text'"
              [name]="'confirmPassword'"
              [required]="'required'"
              (childChanged)="onChangeConfirmPassword($event)"
              [value]="user.confirmpassword">
            </app-input>
          </div>
        </div>
        <div class="form-group">
          <app-button [type]="'submit'" [classname]="'register-button'">Save changes</app-button>
        </div>
      </form>
    </div>
  </div>
</div>