<div class="container">
  <h1 class="form-heading"style="font-family:Arial">Change password</h1>
  <div class="edit-form" style="font-family:Arial">
    <div class="main-div">
      <form #editForm="ngForm" (ngSubmit)="onSubmit(editPasswordForm)">
        <div class="form-group">
          <app-label [for]="'oldPassword'" [value]="'Old Password'"></app-label>
          <app-input [type]="'text'" [classname]="'form-control'" [name]="'oldPassword'" [required]="'required'"></app-input>
        </div>
        <div class="form-group">
          <app-label [for]="'newPassword'" [value]="'New Password'"></app-label>
          <app-input [type]="'text'" [classname]="'form-control'" [name]="'newPassword'" [required]="'required'"></app-input>
        </div>
        <div class="form-group">
          <app-label [for]="'confirmPassword'" [value]="'Confrim Password'"></app-label>
          <app-input [type]="'text'" [classname]="'form-control'" [name]="'confirmPassword'" [required]="'required'"></app-input>
        </div>
      </form>
      <div class="form-group">
        <app-button (click)="getRegister()" [value]="'Save'"></app-button>
      </div>
    </div>
  </div>
</div>
