<div class="container">
  <div class="edit-form">
    <div class="main-div">
      <h1>Edit User Password</h1>
      <form #editForm="ngForm" (ngSubmit)="onSubmit(editPasswordForm)">
        <div class="form-group">
          <div class="row-container">
            <div class="label-class">
              <app-label [for]="'oldPassword'"
                [classname]="label-editpassword">
                Old Password
              </app-label>
            </div>
          </div>
          <div>
            <app-input [type]="'text'"
              [name]="'oldPassword'"
              [required]="'required'"
              (childChanged)="onChangeOldPassword($event)"
              [value]="user.password">
            </app-input>
          </div>
        </div>
        <div class="form-group">
          <div class="row-conatiner">
            <div class="label-class">
              <app-label [for]="'newPassword'"
               [classname]="label-editpassword">
                New Password
              </app-label>
            </div>
          </div>
          <div>
            <app-input [type]="'text'"
              [name]="'newPassword'"
              [required]="'required'"
              (childChanged)="onChangeNewPassword($event)"
              [value]="user.newpassword">
            </app-input>
          </div>
        </div>
        <div class="form-group">
          <div class="row-container">
            <div class="label-class">
              <app-label [for]="'confirmPassword'"
                [classname]="label-editpassword">
                Confrim Password
              </app-label>
            </div>
          </div>
          <div>
            <app-input [type]="'text'"
              [name]="'confirmPassword'"
              [required]="'required'"
              (childChanged)="onChangeConfirmPassword($event)"
              [value]="user.confirmpassword">
            </app-input>
          </div>
        </div>
      </form>
      <div class="form-group">
        <app-button (click)="Save()">Save</app-button>
      </div>
    </div>
  </div>
</div>
