<html>
<body id="RegisterForm">

  <div class="container">
    <h1 class="form-heading"style="font-family:Arial">Register</h1>
    <div class="register-form" style="font-family:Arial">
      <div class="main-div">
        <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
          <div class="form-group">
            <app-label [for]="'email'" [value]="'Email'"></app-label>
            <app-input [type]="'text'" [classname]="'form-control'" [name]="'email'" [required]="'required'"></app-input>
          </div>
          <div class="form-group">
            <app-label [for]="'name'" [value]="'Name'"></app-label>
            <app-input [type]="'text'" [classname]="'form-control'" [name]="'name'" [required]="'required'"></app-input>
          </div>
          <div class="form-group">
            <app-label [for]="'surname'" [value]="'Surname'"></app-label>
            <app-input [type]="'text'" [classname]="'form-control'" [name]="'surname'" [required]="'required'"></app-input>
          </div>
          <div class="form-group">
            <app-label [for]="'password'" [value]="'Password'"></app-label>
            <app-input [type]="'text'" [classname]="'form-control'" [name]="'password'" [required]="'required'"></app-input>
          </div>
          <div class="form-group">
            <app-label [for]="'confirmpassword'" [value]="'ConfirmPassword'"></app-label>
            <app-input [type]="'text'" [classname]="'form-control'" [name]="'confirmpassword'" [required]="'required'"></app-input>
          </div>
          <div class="form-group">
            <app-label [for]="'Image'" [value]="'Image'"></app-label>
            <app-input [type]="'file'" [classname]="'form-control'" [name]="'Image'" [required]="'required'"></app-input>
          </div>
        </form>
        <div class="form-group">
          <app-button (click)="getLogin()" [classname]="'btn btn--info block'" [value]="'Register'"></app-button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
