.btn {
  height: 35px;
  display: block;
  background-size: 35px 35px;
  background-position: right center;
  background-repeat: no-repeat;
  border-radius: 4px;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 14px;
  margin-bottom: 15px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;

  &--facebook {
    padding-right: 45px;
    width: 205px;
    border-color: #2d5073;
    background-color: #3b5998;
    background-image: url("../../../assets/facebook-icon.png");
    box-shadow: 0 4px 2px -2px gray;
    text-shadow: rgba(0, 0, 0, 0.5) -1px -1px 0;
    color: white;
  }

  &--googleplus {
    color: white;
    padding-right: 45px;
    width: 205px;
    border-color: #111;
    background-color: #222;
    text-shadow: #333 -1px -1px 0;
    background-image: url("../../../assets/google-plus-xxl.png");
    box-shadow: 0 4px 2px -2px gray;
    text-shadow: rgba(0, 0, 0, 0.5) -1px -1px 0;
  }

  &--login{
    color: white;
    margin-top:10px;
    width: 205px;
    text-align: center;
    background: linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));    
    border-radius: 5px;
    border: 1px solid #4e3043;
    text-shadow: rgba(0, 0, 0, 0.5) -1px -1px 0;
    box-shadow: 
    	inset 0 1px rgba(255,255,255,0.4), 
      0 2px 1px rgba(0,0,0,0.1);    
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;   
  }
}