<button class="mat-raised-button addbutton" (click)="openDialog()">Add</button>
<div class="grid-container">
  <div class="menu">
    <div class="sidebar" *ngFor="let bookmark of bookmarks | keyvalue">
      <ul>
        <li [class.selected]="bookmark === selectedBookmarks"
          (click)='getBookmark(bookmark)'>
            <div class="titles">
              {{bookmark.value.title}}
            </div>
        <!-- </li>
        <li> -->
          <button (click)="openEditDialog(event,bookmark)" mat-button>
            <mat-icon class="button">edit</mat-icon>
          </button>
          <button (click)="openDeleteDialog(event,bookmark)" mat-button>
            <mat-icon class="button">delete</mat-icon>
          </button>
        </li>       
      </ul>
    </div>
  </div>
  <div class="main" *ngIf="selectedBookmarks">
    <div class="title">{{selectedBookmarks.value.title}}</div>
    <div class="text">{{selectedBookmarks.value.text}}</div>
  </div>
</div>