body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
.addbutton {
  height:35px;
  width:70px;
  margin:10px 0px 0px 10px;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
//navbar sidebar style
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
  }
  li {
    cursor:pointer;
  }

  li a {
    display: block;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial;
  
  }
  li a:hover {
    background-color: lightgray;
  }
  
  div.sidebar { 
    width: 100%;
    border: 2px solid black;
  }
  //grid layout
  .header {grid-area: header; }
  .menu {grid-area: menu; 
  width: 200px;}
  .main {
    grid-area: main;
  }
  .right {grid-area: right; }
  .footer {grid-area: footer; }
  
  .title{
    text-transform: uppercase;
  }

  .text{
    word-wrap: break-word;
  }

  .grid-container{
    display:grid;
    grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu main main main right right'; 
    grid-gap: 10px;
    padding: 10px;
  }
  
  .grid-container > div {
    text-align: center;
  }
  
  //table style
  .line
  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr 1fr; 
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid #ddd;
  }
  .tab
  {
  font-family: Arial, Helvetica, sans-serif;
  }