<form #bookmarkForm="ngForm" (ngSubmit)="onSubmit(bookmarkForm)">
  <p>Bookmark's Title</p>
  <app-matinput
    [name]="'title'"
    [required]="'required'"
    (childChanged)="onChangeTitle($event)">
  </app-matinput>
  <p>Bookmark's Text</p>
  <app-mattextarea
    [name]="'text'"
    [required]="'required'" 
    (childChanged)="onChangeText($event)">
  </app-mattextarea>
  <div class="mat-dialog-actions">
    <button
      class="mat-button addbutton"
      (click)="onNoClick()">
        Cancel
    </button>
    <button
      class="mat-button addbutton"
      [type]="'submit'">
        Add
    </button>
  </div>
</form>
<!-- [mat-dialog-close]="data.animal" cdkFocusInitial-->