body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
.addbutton {
  height:35px;
  width:70px;
  margin:10px 0px 0px 10px;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  cursor:pointer;
  display: flex;
  justify-content: space-between;
  padding: 5px 0 5px 0;
}

div.sidebar { 
  width: 100%;
  border: 2px solid black;
}

.header {
  grid-area: header;
}

.menu {
  grid-area: menu; 
  width: 200px;
}

.main {
  grid-area: main;
  text-align: center;
}


.footer {
  grid-area: footer;
}

.title {
  text-transform: uppercase;
}

.text {
  word-wrap: break-word;
}

.grid-container {
  display:grid;
  grid-template-areas:
  'header header header header header header'
  'menu main main main right right'
  'menu main main main right right'; 
  grid-gap: 10px;
  padding: 10px;
}


.titles{
  width: 150px;
  word-wrap: break-word;
}

.invalid-text {
  color:red;
}
.mat-button {
  width: 10px;
  min-width: 24px;
  padding: 0px;
}
.button {
  display: flex;
  justify-content: flex-end;
}