<form #bookmarkForm="ngForm" (ngSubmit)="onSubmit(bookmarkForm)">
    <p>Bookmark Title</p>
    <div class="form-group">
    <app-matinput
      [name]="'title'"
      [required]="'required'"
      (childChanged)="onChangeTitle($event)"
      [classname]="'form-control'"
      [value]="bookmarkModel.title"
      >
    </app-matinput>
  </div>
  <div *ngIf="f.title.errors" class="invalid-feedback">
    <div *ngIf="f.title.errors.required">
      Title is required
    </div>
    <div class="invalid-text" *ngIf="f.title.errors.minlength">Title must be at least 5 characters</div>
    <div class="invalid-text" *ngIf="f.title.errors.maxlength">Title must be at most 30 characters</div>
  </div>
    <p>Bookmark Text</p>
    <div class="form-group">
    <app-mattextarea
      [name]="'text'"
      [required]="'required'" 
      (childChanged)="onChangeText($event)"
      [classname]="'form-control'"
      [value]="bookmarkModel.text">
    </app-mattextarea>
  </div>
  <div *ngIf="f.text.errors" class="invalid-feedback">
    <div class="invalid-text" *ngIf="f.text.errors.required">Text is required</div>
    <div class="invalid-text" *ngIf="f.text.errors.minlength">Text must be at least 5 characters</div>
    <div class="invalid-text" *ngIf="f.text.errors.maxlength">Text must be at most 100 characters</div>
  </div>
  <button
  class="mat-button addbutton"
  (click)="onNoClick()">
      Cancel
  </button>
  <button
  class="mat-button addbutton"
  [type]="'submit'" >
      Update
  </button>
</form>