
  .input{
    &--chat{
      width:475px;
      height:37px;
    }
    &--form{
      width: 95%;
      height: 1.5em;
      border: 1px solid #ccc;
      border-radius: 12px;
      resize: vertical;
      font-size: 20px;
      padding-left: 5%;
    }

}