//@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
.element-xs{
       width:100px;
  }
  .element-sm{
      width:200px;
  }
  .element-md{
      width:300px;
  }
  .element-lg{
      width:400px;
  } 

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
