textarea{
    resize: none; 
    overflow: auto;
}
.title{
    width: 380px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    margin: 10px 0 ;
}
.main-div{
    margin: 10px;
}
.buttons{
    width: 380px;
    display: flex;
    justify-content: space-between;
}