textarea{
    resize: none; 
    overflow: auto;
}
.buttons-inline{
    width: 380px;
    display: flex;
    justify-content: space-between;
}

.title{
    width: 380px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    margin: 10px 0 ;
}
.main-div{
    margin: 10px;
}
.btn{
        height: 26px;
        border-top-width: 2px;
        margin-top: 15px;
}